{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
      <img 
     src="/img/1200px-International_Pokémon_logo.svg.png"
     width="300"
    ><br><br>
    <h1>Bienvenido a mi blog</h1>
    <p>
     Acá encontraras los ultimos pokemones que he capturado 
    </p>
    <a href="/about">Conóceme</a>
  </header>
  <hr>
  <h3 class="mt-5 mb-3">Últimos artículos</h3>
  {{#each pokemones}}
    <div class="card mb-3">
      <div class="card-body">|
     <b>Nombre de Pokémon:</b> <p class="card-title">{{this.pokemon}}</p>
     <b>Caracteristicas:</b> <p class="card-text">{{this.category}}</p>
     <b>Ruta:</b> <p class="card-text">{{this.ruta}}</p>
        <img src="{{foto}}" width="250px" height="250px">
        <a href="/pokemones/{{this.id}}" class="btn btn-primary btn-sm">Leer más</a>
      </div>
    </div>
  {{/each}}
</div>