{{> navbar}}
<div class="container mt-3">
  <h1>{{pokemon}}</h1>
  <p>{{category}}</p>
  <img src="{{foto}}" width="250px" height="250px">
  <p>{{ruta}}</p>
  <div class="mt-3 d-flex gap-2">
    <a href="/pokemones/{{id}}/update">
      <button class="btn btn-primary btn-sm">Editar</button>
    </a>
    <form action="/pokemones/{{id}}/delete" method="POST">
      <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
    </form>
  </div>
  {{> backhome}}
</div>